<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Importing libaries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Nav panel -->
    <h1 class="text-lg-center">Tickets</h1>

    <div class="container mt-5">
      <h2>Tickets</h2>
      <div class="container">
        <% tickets.forEach(ticket => { %>
        <div class="row">
          <a href="#" class="list-group-item list-group-item-action d-flex">
            <div class="col">
              <h5>
                Ticket #
                <span class="badge bg-info"><%= ticket.ticketId %></span>
              </h5>
            </div>
            <div class="col">Subject: <%= ticket.subject %></div>
            <div class="col">Name: <%=ticket.fullName%></div>
            <div class="col">
              Status: <%= ticket.isOpen ? 'Open' : 'Closed' %>
            </div>
          </a>
        </div>
        <% }); %>
      </div>
    </div>

    <table class="table">
    <thead>
      <tr>
        <th scope="col">Ticket#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>


  </body>
</html>
